[Desktop Entry]
Name= Retriever
Name[nb]= Retriever
GenericName= Retriever
Comment=Norske avisartikler
Comment[nb]=Norske avisartikler
Exec=firefox http://www.retriever-info.com/services/archive.html
Icon=/usr/local/src/icons/atekst.png
StartupNotify=true
Termina=false
Type=Application
Categories=Databases;
Encoding=UTF-8
