[Desktop Entry]
Name=Ebsco
GenericName=Ebsco
Comment=Internasjonale avisartikler
Exec=firefox http://search.ebscohost.com/Community.aspx?community=y&selectservicestoken=axzrmanjx05orjdirin_lnoc5rjb9m_hypqvdqecho2xa6bq7ovotpznbvfpfjcjjhpabe30val7ljuknfas68uxrllwpx7vwppbptgh8iuvpof5rdqcwp9otq6csllzmx3krc9vnci9fdeij83b7db8uxunde4pwrnnz2cb3ltolanszflk5fxfw6s7iarfp6a1xfgdmqqpn1sgtfxrvol3qhet5gjrwk_wmgri87zcrarjnmjz_sy1bbkf33gwlculc8fvyhgqqir_dr3h61ev6lzzm8cz2gd5xilz-64&authtype=cpid&ugt=723731963C0635073716354632453E4227E362D36713639362E329E339133503&IsAdminMobile=N&encid=22D731263C3635473726359632353C37374372C377C373C372C379C379C375C33013&selectServicesToken=AxZV77_R1PpS5Qprm4WQafg2ZAuR7c_HypQVdQECHo2Xa9aac9NsXRjVAYS5G8-fALYUo2k9L4Thnc_IXaHCkb2-6pHub3gYlpVrkdKkIBOEJF1xuOBfofKWdhsjLh15N8uIikEE2_XHzzF7JX19Es9i99t6lyLbeBPscqyaUX9gaJAmsxrc4C-aJgW4zOIn7yYnlYUECKdZ0svDPpnn_73t8J8-483bXzwtgyy_XqMmn3I8wKPV2CDqpkkFJCaD1ap_eiejlk9BpZPpA39Fb9EUQu4Vo6UTvJcTp6RW7g
Icon=/usr/local/src/icons/ebsco.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Databases;
Encoding=UTF-8
